

#clock {
position: relative;
height: 20px;
width: 750px;
margin: auto;

}

#clock img {
    position: absolute;
}

#hour {
    position: absolute;
}

#minute {
    position: absolute;
}

#second {
    position: absolute;
}
